html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: normal;
    vertical-align: baseline;
    background: transparent;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
}

header {
    width: 100%;
    padding: 10px;
    background: #000;
    color: #fff;
}

.container {
    width: 1060px;
    margin: 0 auto;
}

.containerFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container a {
    color: #fff;
    text-decoration: none;
}

.toUpper {
    text-transform: uppercase;
    font-weight: 500;
}

.container li > ul {
    text-transform: none;
}

.blueText {
    color: #23ba9c;
    font-weight: 700;
}

nav > ul {
    display: flex;
    list-style-type: none;
}

nav > ul li:not(:last-child) {
    padding-right: 20px;
}

li.toUpper{
    position: relative;
}

.dropDown {
    width: 120px;
    position: absolute;
    padding-top: 25px;
    list-style-type: none;
    margin-left: calc(50% - 70px);
    display: none;
}

.dropDown li {
    background-color: black;
    padding: 5px 10px;
}

.dropDown li:first-child {
    padding-top: 15px;
    position: relative;
}

.dropDown li:first-child:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 17px solid #000;
    position: absolute;
    top: -15px;
    left: 35px;
}

.dropDown li:last-child {
    padding-bottom: 15px;
}

li.toUpper:hover .dropDown{
    display: block;
}

li.toUpper:hover {
    cursor: pointer;
}

main {
    width: 100%;
    height: 505px;
    padding-top: 50px;
    background: linear-gradient(#f7f7f7, #cbcfd4 );
}

.container > span.blueText {
    font-size: 60px;
}

main img {
    width: 550px;
    height: 450px;
}

.mainContent {
    width: 460px;
    height: 330px;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

h1 {
    font-size: 30px;
}

.mainContent p {
    padding: 20px;

}

.mainContent a {
    background-color: #23ba9c;
    border-radius: 10px;
    width: 265px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

